---
import Layout from "../components/layout.astro";
---

<Layout>
  <div id="checkin_event_index"></div>
  <script>
    document.customerId = 14482;
    document.calendarConfig = {
      openRegistrationModal: false,
      view: "TILE",
      showSearch: true,
      showTopics: true,
      showViewToggle: true,
      showOnlyForm: false,
      language: "nb",
      topics: null,
      style: {
        searchButtonBgColor: "var(--color-focus-bg)",
        searchButtonTextColor: "var(--color-focus-text)",
        searchButtonBorderRadius: 99,
        topicBadgeBgColor: "rgba(85, 96, 106, 1)",
        topicBadgeTextColor: "rgba(255, 255, 255, 1)",
        topicBadgeBorderRadius: 3,
        headerTextColor: "var(--color-text)",
        bodyTextColor: "var(--color-text)",
        backgroundColor: "var(--color-bg)",
        eventTileColor: "rgba(28, 43, 57, 0)",
      },
    };
  </script>
</Layout>
