---
import { Picture } from "astro:assets";
import Layout from "../components/layout.astro";
import HeroImg from "../assets/hero.jpg";
---

<Layout
  title="Klynge Næringsforening"
  description="Nettverksbygging og erfaringsdeling for bedrifter og gründere i Oslo. Bli medlem for inspirerende lunsjer, kurs og muligheter for innovativt samarbeid."
  schema={{
    "@context": "https://schema.org",
    "@type": "Organization",
    name: "Klynge Næringsforening",
    description:
      "Nettverksforening for bedrifter og gründere i Oslo, fokusert på erfaringsdeling, innovasjon og samarbeid.",
    url: "https://klynge.org",
    logo: "https://klynge.no/assets/logo.svg",
    address: {
      "@type": "PostalAddress",
      addressLocality: "Oslo",
      addressCountry: "NO",
    },
    contactPoint: {
      "@type": "ContactPoint",
      email: "styret@klyngeorg.no",
      contactType: "support",
    },
    sameAs: ["https://www.linkedin.com/company/klyngeorg"],
    event: {
      "@type": "Event",
      name: "Nettverkslunsj",
      description:
        "Annenhver torsdag møtes vi for lunsj, nettverksbygging og erfaringsdeling",
      location: {
        "@type": "Place",
        name: "Grand Hotel",
        address: {
          "@type": "PostalAddress",
          addressLocality: "Oslo",
          addressCountry: "NO",
        },
      },
      offers: {
        "@type": "Offer",
        price: "575",
        priceCurrency: "NOK",
      },
    },
  }}
>
  <main>
    <Picture
      class="hero"
      src={HeroImg}
      alt="Klynge Næringsforening"
      height={500}
    />
    <div class="pitch">
      <h1>
        Vi styrker norsk næringsliv gjennom innovativt samarbeid og
        kompetansedeling.
      </h1>
      <a href="/om">Les mer →</a>
    </div>
    <div class="cards">
      <a href="/aktiviteter" class="card">
        <h2>Hva skjer</h2>
        <p>
          Møteplasser for innovasjon og vekst. Månedlige nettverkstreff,
          workshops og foredrag.
        </p>
        <span class="sr-only">Les mer om hva som skjer</span>
      </a>
      <a href="/om" class="card">
        <h2>Dette gjør Klynge Næringsforening</h2>
        <p>
          Vi deler kunnskap, bygger nettverk og driver frem innovasjon på tvers.
        </p>
        <span class="sr-only">Les mer om Klynge Næringsforening</span>
      </a>
      <!--<a href="/om/who" class="card">
        <h2>Hvem er vi</h2>
        <p>
          Et felleskap av innovative mennesker - fra første startups til
          etablerte selskaper.
        </p>
        <span class="sr-only">Les mer om hvem vi er</span>
</a>-->
      <a href="/medlem" class="card">
        <h2>Bli medlem</h2>
        <p>
          Få tilgang til et unikt nettverk, verdifull kompetansedeling og
          spennende samarbeid. Voks sammen med andre fremoverlente bedrifter.
        </p>
        <span class="sr-only">Les mer om medlemskap</span>
      </a>
    </div>
  </main>

  <style>
    main {
      display: grid;
      gap: 2rem;
      margin-inline: auto;
      max-width: var(--container-width);
      padding-inline: 2rem;
    }

    .hero {
      object-fit: cover;
      border-radius: 8px;
      margin-block: 2rem;
      width: 100%;
      height: auto;
      max-height: 500px;
      margin-top: 3rem;
      aspect-ratio: 2 / 1;
    }

    @media (max-width: 692px) {
      .hero {
        display: none;
      }
    }

    .pitch h1 {
      text-wrap: pretty;
      max-width: 25ch;
      font-size: 2.3rem;
      font-weight: 500;
      padding-bottom: 1.5rem;
    }

    .pitch a {
      text-decoration: none;
    }

    .pitch a:hover {
      text-decoration: underline;
    }

    h1,
    p {
      max-width: 45ch;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
      margin-top: 2rem;
    }

    .card {
      padding: 2rem;
      text-decoration: none;
      color: var(--color-focus-text);
      background: var(--color-focus-bg);
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      position: relative;
    }

    .card h2 {
      font-size: 1rem;
    }

    .card:focus-visible {
      outline-offset: 0.4em;
      border-radius: 0.225em;
    }

    .card:hover {
      background: var(--color-focus-bg-hover);
      text-decoration: none;
    }

    .read-more::after,
    .card::after {
      content: "→";
      display: inline-block;
      margin-left: 5px;
      transition: transform 0.3s ease;
    }

    .card::after {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }

    .read-more:hover::after,
    .read-more:focus::after,
    .card:hover::after,
    .card:focus::after {
      transform: translateX(5px);
    }

    /* On desktop, let the card be square */
    @media (min-width: 693px) {
      .card {
        aspect-ratio: 1 / 1;
      }
      .card::after {
        right: auto;
        left: 1rem;
      }
    }
  </style>
  </Layout
</Layout>
