<footer>
  <p>
    <b>Klynge Næringsforening</b><br />
    Organisasjonsnummer: 930 334 693
  </p>
  <section class="footer-links">
    <a href="/betingelser">Medlemsbetingelser</a>
    <a href="/vedtekter">Våre vedtekter</a>
    <a href="/personvern">Personvernerklæring</a>
  </section>
</footer>

<style>
  footer {
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: 2rem;
    padding-bottom: 1rem;
  }
</style>
