<header>
  <a class="logo" href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      preserveAspectRatio="none"
      width="100%"
      height="100%"
      viewBox="0 0 214 19"
    >
      <path
        fill="currentColor"
        d="m8.6 14.7-7-7.3L8.4.8H11l-7.4 7v-1l7.6 7.8H8.6Zm-8.6 0V.7h1.9v14H0Zm13 0V.3h1.8v14.2H13Zm7.6 0-4.2-9.5h2l3 7.5H21l3-7.5h2l-4.5 9.5h-1Zm-2.8 4 2.8-5.8 1 1.8-1.8 4h-2Zm16.4-4V9c0-.7-.2-1.3-.7-1.8a2.5 2.5 0 0 0-3-.4 2.3 2.3 0 0 0-1 1L29.4 9l-.8-.4c0-.7.2-1.4.5-2 .3-.5.8-1 1.4-1.3a3.8 3.8 0 0 1 3.8 0A3.9 3.9 0 0 1 36 8.8v6h-1.8Zm-6.7 0V5h1.8v9.5h-1.8Zm14.9 4.1a6 6 0 0 1-2.6-.5 4.6 4.6 0 0 1-1.8-1.5l1.1-1.2a4.2 4.2 0 0 0 3.3 1.5c1 0 1.8-.2 2.3-.8.6-.5.9-1.2.9-2v-2.4l.3-2.1-.3-2.2V5.1h1.8v9.2c0 .9-.2 1.7-.7 2.3-.4.7-1 1.3-1.7 1.6-.8.4-1.6.6-2.6.6Zm0-4.3c-.9 0-1.7-.2-2.4-.6a4.5 4.5 0 0 1-1.6-1.7 5.4 5.4 0 0 1 0-4.9 4.5 4.5 0 0 1 6-2 3.4 3.4 0 0 1 1.3 1.3c.4.6.5 1.2.6 1.9V11c0 .7-.3 1.3-.6 1.8a3.4 3.4 0 0 1-1.4 1.3c-.5.2-1.2.4-2 .4Zm.3-1.7a3 3 0 0 0 1.6-.4 2.6 2.6 0 0 0 1-1c.3-.5.4-1 .4-1.7 0-.6-.2-1.1-.4-1.6a2.6 2.6 0 0 0-1-1 3 3 0 0 0-1.6-.5 3 3 0 0 0-1.6.4 2.8 2.8 0 0 0-1 1.1 3 3 0 0 0-.4 1.6c0 .6.1 1.1.3 1.6a3 3 0 0 0 1.1 1.1c.5.3 1 .4 1.6.4Zm11.7 2c-1 0-1.8-.2-2.5-.6a4.9 4.9 0 0 1-1.8-1.8 5 5 0 0 1-.7-2.5c0-1 .2-1.8.6-2.5a4.8 4.8 0 0 1 1.8-1.8 5.1 5.1 0 0 1 4.8 0c.7.4 1.2.9 1.6 1.6a5 5 0 0 1 .5 3.4h-8V9h7l-.6.6c0-.7-.2-1.2-.4-1.7a2.4 2.4 0 0 0-1-1c-.4-.3-.9-.4-1.4-.4a3 3 0 0 0-1.7.4 2.7 2.7 0 0 0-1 1.1c-.3.5-.4 1-.4 1.7s.1 1.3.4 1.8c.2.5.6.9 1.1 1.2.5.2 1 .4 1.7.4a3.7 3.7 0 0 0 1.5-.3A3 3 0 0 0 57 12l1.2 1.2a4.4 4.4 0 0 1-1.7 1.2c-.6.3-1.3.5-2 .5Zm10.8-.2V.8h1.3l.6 2.1v11.8h-1.9Zm9.6 0L66.3 3.3l.2-2.5L75.1 12l-.3 2.5Zm0 0-.5-2V.8H76v13.8h-1.3Zm8.3.3a4.5 4.5 0 0 1-2.3-.7 4.8 4.8 0 0 1-1.7-1.8c-.4-.7-.6-1.6-.6-2.5s.2-1.8.6-2.5a4.8 4.8 0 0 1 1.7-1.8 4.4 4.4 0 0 1 4.3-.2 3.5 3.5 0 0 1 1.3 1.2c.4.6.6 1.2.6 1.9v2.8a3.7 3.7 0 0 1-.6 1.8 3.5 3.5 0 0 1-1.3 1.3c-.6.3-1.2.4-2 .4Zm.3-1.8c1 0 1.6-.2 2.2-.8.5-.7.8-1.4.8-2.4 0-.6-.1-1.2-.4-1.7a2.6 2.6 0 0 0-1-1.1 3 3 0 0 0-1.6-.4 3 3 0 0 0-1.6.4 3 3 0 0 0-1 1.1 3 3 0 0 0-.4 1.7c0 .6 0 1.2.3 1.7a3 3 0 0 0 2.7 1.6Zm2.9 1.6V12l.3-2.3-.3-2.3V5.2H88v9.4h-1.8Zm5.3.2c-1 0-1.8-.3-2.5-.7a4.3 4.3 0 0 1-1.5-1.8 6.5 6.5 0 0 1-.2-4.5c.1-.5.4-1 .8-1.5.3-.5.8-.8 1.3-1a4 4 0 0 1 1.9-.4 4.2 4.2 0 0 1 3.8 2.3 5 5 0 0 1 .5 3.3h-8V9h7l-.6.6c0-.7-.2-1.2-.4-1.7a2.4 2.4 0 0 0-1-1c-.4-.3-.9-.4-1.4-.4a3 3 0 0 0-1.7.4 2.7 2.7 0 0 0-1 1.1c-.3.5-.4 1-.4 1.7s.1 1.3.4 1.8c.2.5.6.9 1.1 1.2.5.2 1 .4 1.7.4l1.5-.3A3 3 0 0 0 94 12l1.2 1.2a4.4 4.4 0 0 1-1.7 1.2c-.6.3-1.3.5-2 .5Zm6.1-.3V5.3h1.8v9.4h-1.8Zm1.8-5.4-.7-.3c0-1.2.3-2.2.9-2.9.5-.7 1.4-1 2.4-1 .5 0 1 0 1.3.2.4.2.8.4 1 .8l-1 1.2-.8-.4a2.3 2.3 0 0 0-.8-.2c-.7 0-1.2.3-1.6.7-.5.4-.7 1-.7 2Zm6.3 5.5V5.2h1.8v9.4h-1.8Zm.9-11.4c-.4 0-.6-.2-.8-.4a1.2 1.2 0 0 1-.4-.8c0-.3.1-.6.4-.8.2-.2.4-.3.8-.3.3 0 .6 0 .8.3.2.2.3.5.3.8 0 .3 0 .6-.3.8-.2.2-.5.4-.8.4Zm10.2 11.4V9c0-.7-.2-1.3-.6-1.8a2.8 2.8 0 0 0-3.1-.4 2.3 2.3 0 0 0-.9 1c-.2.3-.3.7-.3 1.2l-.7-.4c0-.7.1-1.4.5-2 .3-.5.7-1 1.3-1.3a3.8 3.8 0 0 1 3.8 0 3.9 3.9 0 0 1 1.8 3.3v6H117Zm-6.7 0V5.2h1.8v9.4h-1.8Zm15 4.1a6 6 0 0 1-2.7-.5 4.5 4.5 0 0 1-1.8-1.5l1.2-1.2c.4.5.8.9 1.4 1.1.5.3 1.1.4 1.9.4 1 0 1.7-.3 2.3-.8.5-.5.8-1.2.8-2v-2.4l.3-2.1-.3-2.2V5.1h1.8v9.2c0 .9-.2 1.7-.6 2.3-.4.7-1 1.3-1.8 1.6-.7.4-1.6.6-2.6.6Zm0-4.3c-1 0-1.7-.2-2.4-.6a4.5 4.5 0 0 1-1.6-1.7 5.4 5.4 0 0 1 0-4.9 4.5 4.5 0 0 1 5.9-2 3.4 3.4 0 0 1 1.4 1.3c.3.6.5 1.2.5 1.9V11c0 .7-.2 1.3-.6 1.8a3.4 3.4 0 0 1-1.3 1.3 6 6 0 0 1-2 .4Zm.3-1.7a3 3 0 0 0 1.5-.4 2 2 0 0 0 1-1c.3-.5.4-1 .4-1.7a3 3 0 0 0-.4-1.6 2.6 2.6 0 0 0-1-1 3 3 0 0 0-1.5-.5 3 3 0 0 0-1.6.4 2.8 2.8 0 0 0-1.1 1.1c-.2.5-.4 1-.4 1.6 0 .6.2 1.1.4 1.6.3.5.6.8 1 1.1.6.3 1 .4 1.7.4Zm10.3 2a5.7 5.7 0 0 1-1.5-.2 5.5 5.5 0 0 1-1.3-.5 4.7 4.7 0 0 1-1-1l1-1.1 1.3 1 1.5.2c.5 0 1 0 1.3-.3.3-.2.5-.4.5-.8s-.2-.6-.4-.8l-1-.5a20 20 0 0 0-1.2-.4 7.5 7.5 0 0 1-1.2-.5 2.7 2.7 0 0 1-1-.8c-.2-.3-.3-.8-.3-1.4 0-.5.1-1 .4-1.4.3-.5.7-.8 1.1-1 .6-.2 1.2-.4 1.9-.4s1.4.2 2 .4c.5.3 1 .7 1.4 1.2L138 7.7a2.7 2.7 0 0 0-1-.8 3 3 0 0 0-1.3-.3c-.5 0-1 0-1.2.3a.8.8 0 0 0-.4.7c0 .3.1.6.4.8l1 .4a124 124 0 0 1 2.4.9l1 .8c.2.4.3.9.3 1.4 0 1-.3 1.6-1 2.2-.6.5-1.4.8-2.5.8Zm6.9-.2V3.8c0-.7.1-1.3.4-1.8a3.4 3.4 0 0 1 1.3-1.3c.5-.3 1.2-.4 1.9-.4.5 0 1 0 1.4.3.4.1.8.4 1.1.8l-1.2 1.1a1.7 1.7 0 0 0-.6-.4 1.7 1.7 0 0 0-.7-.1c-.6 0-1 .1-1.4.5a2 2 0 0 0-.4 1.3v11h-1.8Zm-2.4-7.8V5.2h7.2v1.6h-7.2Zm12.8 8c-1 0-1.8-.2-2.5-.6a5 5 0 0 1-1.8-1.8 5 5 0 0 1-.7-2.5c0-1 .2-1.8.7-2.5a5 5 0 0 1 1.8-1.8c.7-.4 1.5-.6 2.5-.6.9 0 1.7.2 2.5.6a4.8 4.8 0 0 1 1.8 1.8c.4.7.6 1.5.6 2.5a5 5 0 0 1-.6 2.5 4.9 4.9 0 0 1-1.8 1.8c-.8.4-1.6.7-2.5.7Zm0-1.7a3 3 0 0 0 2.7-1.5c.2-.5.4-1.1.4-1.7 0-.6-.2-1.2-.4-1.7a2.9 2.9 0 0 0-1.1-1 3 3 0 0 0-1.6-.5 3 3 0 0 0-3.1 3.2c0 .6.1 1.2.4 1.7A3 3 0 0 0 153 13Zm7 1.6V5.2h1.8v9.5H160Zm1.8-5.5-.7-.3c0-1.2.3-2.1.8-2.9.6-.7 1.4-1 2.5-1 .4 0 .9 0 1.3.2.3.2.7.4 1 .8l-1.1 1.3c-.2-.3-.5-.4-.7-.5a2.3 2.3 0 0 0-.8-.1c-.7 0-1.3.2-1.7.6-.4.4-.6 1-.6 2Zm10.3 5.7c-1 0-1.8-.3-2.6-.7a4.9 4.9 0 0 1-1.8-1.8 5 5 0 0 1-.6-2.5c0-1 .2-1.8.6-2.5a4.8 4.8 0 0 1 1.8-1.8c.7-.4 1.5-.6 2.5-.6.8 0 1.6.2 2.3.6.7.4 1.2.9 1.6 1.6a5 5 0 0 1 .4 3.4h-8V9h7l-.6.6c0-.7 0-1.2-.3-1.7a2.4 2.4 0 0 0-1-1c-.4-.3-.9-.4-1.5-.4s-1.1.1-1.6.4a2.7 2.7 0 0 0-1 1.1c-.3.5-.5 1-.5 1.7s.2 1.3.4 1.8c.3.5.7.9 1.2 1.2.5.2 1 .4 1.7.4.5 0 1-.1 1.4-.3a3 3 0 0 0 1.2-.9l1.2 1.2a4.4 4.4 0 0 1-1.7 1.2c-.7.3-1.4.5-2.1.5Zm13-.2V9c0-.7-.2-1.3-.7-1.8a2.5 2.5 0 0 0-3-.4 2.3 2.3 0 0 0-.9 1c-.2.3-.3.7-.3 1.2l-.7-.4c0-.7.1-1.4.4-2 .4-.5.8-1 1.4-1.3a3.8 3.8 0 0 1 3.8 0 3.9 3.9 0 0 1 1.8 3.3v6h-1.8Zm-6.7 0V5.2h1.8v9.5h-1.8Zm11 0V5.2h1.8v9.5h-1.8Zm.9-11.4c-.3 0-.6-.2-.8-.4a1.2 1.2 0 0 1-.4-.8c0-.3.2-.6.4-.8.2-.2.5-.3.8-.3.3 0 .6 0 .8.3.2.2.3.5.3.8 0 .3 0 .6-.3.8-.2.2-.5.4-.8.4Zm10.3 11.4V9c0-.7-.3-1.3-.7-1.8a2.8 2.8 0 0 0-3.1-.4 2.3 2.3 0 0 0-.8 1c-.3.3-.4.7-.4 1.2l-.7-.4c0-.7.2-1.4.5-2 .3-.5.7-1 1.3-1.3a3.8 3.8 0 0 1 3.9 0 3.9 3.9 0 0 1 1.8 3.3v6h-1.8Zm-6.8 0V5.2h1.8v9.5H194Zm15 4.1a6 6 0 0 1-2.7-.5 4.5 4.5 0 0 1-1.8-1.5l1.2-1.2c.4.5.8.9 1.4 1.1.5.3 1.1.4 1.9.4 1 0 1.7-.2 2.3-.8.5-.5.8-1.2.8-2v-2.4l.4-2.1-.4-2.1V5.2h1.8v9c0 1-.2 1.8-.6 2.5-.4.6-1 1.2-1.8 1.5-.7.4-1.6.6-2.6.6Zm0-4.3c-1 0-1.7-.2-2.4-.6a4.5 4.5 0 0 1-1.6-1.7 5.4 5.4 0 0 1 0-4.9 4.5 4.5 0 0 1 6-2 3.4 3.4 0 0 1 1.3 1.3c.3.6.5 1.2.5 1.9V11c0 .7-.2 1.3-.5 1.8a3.4 3.4 0 0 1-1.4 1.3 6 6 0 0 1-2 .4Zm.3-1.7a3 3 0 0 0 1.5-.4 2 2 0 0 0 1-1c.3-.5.4-1 .4-1.7 0-.6 0-1.1-.3-1.6a2.6 2.6 0 0 0-1-1 3 3 0 0 0-1.6-.4 3 3 0 0 0-1.6.4 2.8 2.8 0 0 0-1 1 3 3 0 0 0-.5 1.6c0 .6.2 1.1.4 1.6.3.5.6.8 1 1.1.6.3 1 .4 1.7.4Z"
      >
      </path>
    </svg>
  </a>
  <nav>
    <ul>
      <li class="focus">
        <a
          href="https://join.slack.com/t/klyngen/shared_invite/zt-1modeitmd-2OgaarItLsXACjunZQ~BHA"
        >
          Bli med i vår Slack
        </a>
      </li>
      <li><a href="/medlem">Bli medlem</a></li>
      <li><a href="/aktiviteter">Aktiviteter</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
    padding-block: 2.5rem;
    padding-inline: 2rem;
    max-width: var(--container-width);
    gap: 2rem;
  }

  .logo {
    display: block;
    padding-block: 1rem;
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  li a {
    display: block;
    padding: 1rem;
    border-radius: 50px;
    padding-inline: 1.5rem;
    padding-block: 1.1rem;
    text-decoration: none;
  }

  @media only screen and (max-width: 630px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }

    li a,
    .logo {
      margin-left: 1rem;
    }
  }

  .focus a {
    background: var(--color-focus-bg);
    color: var(--color-focus-text);
  }
</style>
